svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
  opacity: 0.7;
}
.explorar {
  padding: 2rem;
}

.lista-livro {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr 1fr 1fr;
}

.card {
  cursor: pointer;
  border: 1px solid #d3bbff;
  width: 202px;
  margin: 10px;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 1px 5px 15px #00000021;
    transform: translate(0, -2px) scale(1.02);

    .card-footer {
      background-color: #cb91e724;
    }
  }
}

.image-wrapper {
  overflow: hidden;
  width: 199px;
  height: 200px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-footer {
  cursor: pointer;
}

@media only screen and (max-width: 1140px) {
  .lista-livro {
    grid: auto-flow / 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .lista-livro {
    grid: auto-flow / 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 660px) {
  .lista-livro {
    grid: auto-flow / 1fr 1fr;
  }
}

@media only screen and (max-width: 440px) {
  .explorar h2 {
    margin-left: 26px;
    margin-bottom: 24px;
  }

  .lista-livro {
    grid: auto-flow / 1fr;
  }

  .card {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  .image-wrapper {
    width: 299px;
  }
}
