<div class="modal fade" id="perfil" tabindex="-1" aria-labelledby="perfilLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="perfilLabel">
          {{leitor.nome}}
          <span>{{leitor?.email}}</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p><b>Pontos: </b>{{leitor?.pontos}}</p>

        <p><b>Troféus:</b></p>
        <div class="trofeus">
          <p class="chip" *ngFor="let trofeu of trofeus">
            Leitor de {{trofeu.genero}}!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
