<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/images/logo.jpg" alt="Esse já li">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-livros']">Explorar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ranking</a>
        </li>
      </ul>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#perfil">Perfil</button>
      <button class="btn" type="submit">Sair</button>
    </div>
  </div>
</nav>

<app-perfil></app-perfil>
